body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 10px;
  overflow: hidden;

  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif; */

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: beige;
  color: rgb(141, 69, 10);
  font-family: "Jost", sans-serif;
  background-image: url("https://st.depositphotos.com/1020341/2682/i/950/depositphotos_26820715-stock-photo-white-wood-background.jpg");
}
h1 {
  text-shadow: 2px 2px 15px white;
}

.main-container {
  /* margin: 10%; */
  height: 100vh;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  margin-left: 25vw;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.input-col {
  width: 100%;
  height: 65%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: left;
  align-items: left;
  text-align: center;
  overflow-wrap: normal;
  overflow: auto;
  /* background-color: rgba(245, 245, 220, 0.267); */
  text-align: left;
  background: rgba(207, 202, 198, 0.5);
  /* padding: 5%; */
  border-radius: 20px 20px 20px 20px;
}
.input-row {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: left;
  align-items: left;
  text-align: center;
  overflow: auto;
  /* background-color: rgba(245, 245, 220, 0.267); */
  text-align: left;
  overflow: hidden;
  margin-left: 15%;
}

p {
  font-size: larger;
}

#des {
  font-weight: 345;
}

#cat-title {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-content: left;
  align-items: left;
  text-align: left;
  color: rgb(141, 69, 10);
  margin: 0;
  /* padding: 40px; */

  /* box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.404); */
}

#cat-p {
  margin: 0;
}
#web-list {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-content: left;
  align-items: left;
  text-align: left;
  /* flex-wrap: wrap; */
  /* overflow: auto; */
  /* color: white; */
  /* padding: 40px; */

  /* box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.404); */
}

label {
  font-weight: 550;
  font-size: larger;
}
input {
  font-family: "Jost", sans-serif;
  /* font-size: larger; */
  margin: 10px;
}
.button {
  border-radius: 5px 5px 5px 5px;
  color: rgb(141, 69, 10);
}

.iconDiv {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  margin: 30px;

  background: white;
  margin: 5px;
  box-shadow: 3px 3px 1px rgb(0, 0, 0);
}

a {
  color: rgb(141, 69, 10);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  margin: 0;
  /* padding: 20px; */
}
#web-list {
  /* overflow: scroll; */
}

#web {
  display: flex;
  flex-direction: row;
}
